/* General Form Styling */

.form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}



/* Input Fields */
.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* Select Dropdown */
.select-input {
  background-color: #fff;
  cursor: pointer;
}

/* Button Styling */
.btn {
  width: 100%;
  background: #28a745;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #218838;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Login Link */
.link {
  margin-top: 15px;
  font-size: 14px;
}

.link a {
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}

.link a:hover {
  text-decoration: underline;
}

.username{
  padding-right: 300px;
  font-weight: 700;
  color: grey;
}

.email{
  padding-right: 300px;
  font-weight: 700;
  color: grey;
}

.password{
  padding-right: 300px;
  font-weight: 700;
  color: grey;
}

.role{
  padding-right: 180px;
}