
/* Style for the entire app container */
.App {
  text-align: center;
  padding: 20px;
}

/* Control scrolling */
html, body {
  overflow-x: hidden; /* only hide horizontal scroll */
  overflow-y: auto;   /* keep vertical scroll */
  min-height: 100%;
}
